.todo-container.completed {
    text-decoration: line-through;
    color: darkgray;
    background-color: darkgreen;
}

.todo-item {
    display: block;
}

.todo-controls {
    display: block;
    font-size: small;
}

.todo-container {
    border-radius: 5px;
    background: darkgray;
    padding: 5px;
    margin-top: 5px;
    width: 600px;
    text-align: center;
}

.btn {
    border-radius: 5px;
}
